<launch>
	<arg name="map_size_x" value="40.0"/>
	<arg name="map_size_y" value="40.0"/>
    <arg name="map_size_z" value=" 4.0"/>
    <arg name="odom_topic" value="visual_slam/odom" />
	<arg name="scenario" value="20agent_antipodal_swap"/>

    <!-- swarm topic transmitter bridge-->
    <include file="$(find swarm_bridge)/launch/bridge_udp.launch">
    <arg name="drone_id" value="999"/>
	<arg name="broadcast_ip" value="127.0.0.255"/>
    </include>
 
 	<node pkg="csv_log" name="csv_logging" type="csv_log_node" output="screen">
        <param name="scenario" value="$(arg scenario)"/>
    </node>
 
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="0"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-3.18430775202e-05"/>
		<arg name="init_y"     value="-12.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="3.18430775202e-05"/>
		<arg name="target0_y"   value="12.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="1"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-3.7082311886"/>
		<arg name="init_y"     value="-11.4126693395"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="3.7082311886"/>
		<arg name="target0_y"   value="11.4126693395"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="2"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-7.05344363677"/>
		<arg name="init_y"     value="-9.70818895896"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="7.05344363677"/>
		<arg name="target0_y"   value="9.70818895896"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="3"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-9.70821703431"/>
		<arg name="init_y"     value="-7.05340499438"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="9.70821703431"/>
		<arg name="target0_y"   value="7.05340499438"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="4"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-11.4126840996"/>
		<arg name="init_y"     value="-3.70818576175"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="11.4126840996"/>
		<arg name="target0_y"   value="3.70818576175"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="5"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-12.0"/>
		<arg name="init_y"     value="1.59215387601e-05"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="12.0"/>
		<arg name="target0_y"   value="-1.59215387601e-05"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="6"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-11.4126742595"/>
		<arg name="init_y"     value="3.70821604632"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="11.4126742595"/>
		<arg name="target0_y"   value="-3.70821604632"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="7"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-9.70819831743"/>
		<arg name="init_y"     value="7.05343075598"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="9.70819831743"/>
		<arg name="target0_y"   value="-7.05343075598"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="8"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-7.05341787519"/>
		<arg name="init_y"     value="9.70820767588"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="7.05341787519"/>
		<arg name="target0_y"   value="-9.70820767588"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="9"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="-3.70820090404"/>
		<arg name="init_y"     value="11.4126791795"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="3.70820090404"/>
		<arg name="target0_y"   value="-11.4126791795"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="10"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="0.0"/>
		<arg name="init_y"     value="12.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-0.0"/>
		<arg name="target0_y"   value="-12.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="11"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="3.70820090404"/>
		<arg name="init_y"     value="11.4126791795"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-3.70820090404"/>
		<arg name="target0_y"   value="-11.4126791795"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="12"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="7.05341787519"/>
		<arg name="init_y"     value="9.70820767588"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-7.05341787519"/>
		<arg name="target0_y"   value="-9.70820767588"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="13"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="9.70819831743"/>
		<arg name="init_y"     value="7.05343075598"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-9.70819831743"/>
		<arg name="target0_y"   value="-7.05343075598"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="14"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="11.4126742595"/>
		<arg name="init_y"     value="3.70821604632"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-11.4126742595"/>
		<arg name="target0_y"   value="-3.70821604632"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="15"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="1.59215387655e-05"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-1.59215387655e-05"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="16"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="11.4126840996"/>
		<arg name="init_y"     value="-3.70818576175"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-11.4126840996"/>
		<arg name="target0_y"   value="3.70818576175"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="17"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="9.70821703431"/>
		<arg name="init_y"     value="-7.05340499438"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-9.70821703431"/>
		<arg name="target0_y"   value="7.05340499438"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="18"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="7.05344363677"/>
		<arg name="init_y"     value="-9.70818895896"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-7.05344363677"/>
		<arg name="target0_y"   value="9.70818895896"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="19"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="3.7082311886"/>
		<arg name="init_y"     value="-11.4126693395"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-3.7082311886"/>
		<arg name="target0_y"   value="11.4126693395"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

</launch>
