<launch>
	<arg name="map_size_x" value="40.0"/>
	<arg name="map_size_y" value="40.0"/>
    <arg name="map_size_z" value=" 4.0"/>
    <arg name="odom_topic" value="visual_slam/odom" />
	<arg name="scenario" value="40agent_narrow_passage_travel"/>
		
    <!-- swarm topic transmitter bridge-->
    <include file="$(find swarm_bridge)/launch/bridge_udp.launch">
    	<arg name="drone_id" value="999"/>
    	<arg name="broadcast_ip" value="127.0.0.255"/>
    </include>

 	 <node pkg="csv_log" name="csv_logging" type="csv_log_node" output="screen">
        <param name="scenario" value="$(arg scenario)"/>
    </node>
 
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="0"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-39.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="39.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="1"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-37.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="37.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="2"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-35.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="35.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="3"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-33.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="33.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="4"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-31.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="31.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="5"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-29.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="29.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="6"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-27.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="27.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="7"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-25.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="25.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="8"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-23.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="23.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="9"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-21.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="21.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="10"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-19.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="19.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="11"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-17.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="17.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="12"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-15.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="15.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="13"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-13.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="13.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="14"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-11.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="11.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="15"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-9.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="9.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="16"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-7.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="7.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="17"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-5.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="5.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="18"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-3.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="3.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="19"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="-1.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="1.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="20"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="1.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-1.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="21"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="3.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-3.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="22"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="5.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-5.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="23"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="7.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-7.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="24"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="9.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-9.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="25"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="11.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-11.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="26"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="13.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-13.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="27"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="15.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-15.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="28"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="17.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-17.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="29"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="19.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-19.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="30"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="21.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-21.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="31"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="23.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-23.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="32"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="25.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-25.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="33"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="27.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-27.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="34"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="29.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-29.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="35"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="31.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-31.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="36"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="33.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-33.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="37"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="35.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-35.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="38"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="37.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-37.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
		<arg name="drone_id"   value="39"/>
		<arg name="scenario" value="$(arg scenario)"/>
		<arg name="init_x"     value="12.0"/>
		<arg name="init_y"     value="39.0"/>
		<arg name="init_z"     value="1.5"/>
		<arg name="target0_x"   value="-12.0"/>
		<arg name="target0_y"   value="-39.0"/>
		<arg name="target0_z"   value="1.5"/>
		<arg name="map_size_x" value="$(arg map_size_x)"/>
		<arg name="map_size_y" value="$(arg map_size_y)"/>
		<arg name="map_size_z" value="$(arg map_size_z)"/>
		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>
		
</launch>
